body {
    font-family: "Montserrat";
    background-color: black;
}

h1,
h2,
h3,
h4 {
    font-family: "Paytone One";
}



.logo {
    font-family: "Halant";
    font-size: 14vmin;
    color: white;

}


#sublogo {
    font-family: "Halant";
    font-size: 14vmin;
    color: black;

}

#about-logo {
    font-family: "Halant";
    font-size: 3vmin;
    color: black;

}

#formlogo {
    font-family: "Halant";
    font-size: 7vmin;
    color: black;

}

.form-headers {
    font-family: "Paytone One";
    font-size: 4vmin;
    color: black;

}

.cover-header {
    font-size: 4vmin;
}

.cover-sub {
    font-size: 1.5vmin;
}

.container {
    max-width: 1600px;
}

/*https://stackoverflow.com/questions/15376634/how-can-i-center-a-div-within-another-div*/
#centered-div {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("./images/portrait.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    margin-top: -300px;
    margin-left: -300px;
}

/*https://stackoverflow.com/questions/15376634/how-can-i-center-a-div-within-another-div*/
.centered-div {
    width: min(100vw, 100vh/11*8.5);
    height: min(100vh, 100vw/8.5*11);
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("./images/portrait.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    margin-top: calc(min(100vh, 100vw/8.5*11)/-2);
    margin-left: calc(min(100vw, 100vh/11*8.5)/-2);
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration-color: white;

}

/*a:hover > h4 {
    text-decoration: none;
}

a:hover > small {
    text-decoration: none;
}*/

.rotate {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.tabs {
    margin-top: 5px;
    margin-left: 5px;
    padding: 2px;
    max-width: 30px;


}

.rotate2 {
    writing-mode: vertical-rl;
    transform: rotate(180deg) translate(.4em, 0);
}

#leave-a-message {
    transform: rotate(180deg) translate(0.25em, 0);

}

/*#leave-a-message-div {
    top: 0;
}*/

.form-label {
    position: absolute;
    bottom: 0;
    right: 0;
}

.form-width {
    width: 80%;
    border-radius: 0;
}

#barcode {
    position: absolute;
    bottom: 0;
}

#about-us-row {
    position: absolute;
    bottom: 40%;
}

#magazine-bg {
    background-image: url('./images/magazines2.jpg');
    background-size: contain;
}
